<div class="head">

    <span class="span">Website Link Portal</span>
   <div class="loginBtn"> <blaze-template name="loginButtons"></blaze-template></div><br>
   <div class="addSearch">
    <button  class="addLink btn btn-default btn-sm "  ng-click="create()" ><span class="icon icon-plus-sign" style="color: #b8860b"></span>  Create</button>

    <input type="text" class="search" ng-model="query" placeholder="Input the link to query ...">
    <span class="icon icon-search icon-position"></span>
   </div>

</div>