<div class="modalDialog" >
    <script type="text/ng-template" id="myModalContent.ng.html">
        <div class="modal-header">
            <h2> {{pageTitle}}    <button type="button" class="close" ng-click="cancel()"> &times;</button>      </h2>
        </div>
        <div ng-controller="ModalDemoCtrl">
            <form  method="post" name="modalDialog" >
                <div class="modal-body" >
                    <strong> Link Title</strong><br>
                    <input type="text" id="LinkTitle" class="inputTitle"  placeholder="Input title of the link" required ng-model="link.name" ng-disabled="!editable"><br>

                    <div id="input3" class="showImg">
                        <img src="{{link.img}}" id="divPic" class="divImg"  >
                        <div class="title" align="center">{{link.name}}
                        </div>
                    </div><br>
                    Link Extra Twitter Bootstarp Class<br>
                    <div  ng-controller="hideShow">
                        <input type="text" id="ImgUrl" value="{{link.img}}" ng-model="link.img" style="display: none"><br>
                        <button id="button1" class="btn btn-default" ng-click="toggleCustom()" ng-disabled="!editable">Link Icons ▼</button><br>
                        <div id="Img" class="IMG"  ng-hide="custom">

                            <p>
                                <img src="images/icons1.png"><img src="images/icons2.png" ><img src="images/icons3.png" ><img src="images/icons4.png" >
                                <img src="images/icons5.png"><img src="images/icons6.png" ><img src="images/icons7.png" ><img src="images/icons8.png" >
                            </p>

                            <p>
                                 <img src="images/icons9.png"><img src="images/icons10.png" ><img src="images/icons11.png" ><img src="images/icons12.png" >
                                 <img src="images/icons13.png"><img src="images/icons14.png" ><img src="images/icons15.png" ><img src="images/icons16.png" >
                            </p>
                            <p>
                                <img src="images/icons19.png"><img src="images/icons20.png" ><img src="images/icons21.png" ><img src="images/icons22.png" >
                                <img src="images/icons23.png"><img src="images/icons24.png" ><img src="images/icons25.png" ><img src="images/icons26.png" >
                            </p>
                            <p>
                            </p>

                        </div>
                    </div>
                    For more classes you could use,go <a href="#">here</a><br>
                    <strong>URL</strong><br>
                    <input type="url" class="inputUrl" id="input4" placeholder="http://www.google.com" ng-model="link.url"  required ng-disabled="!editable" ><br>
                    <input type="checkbox"  ng-model="link.public" ng-disabled="!editable">Public<br>
                    {{message}}<br>

                </div>
            </form>
            <div class="modal-footer">
                <button id="sub" class="btn btn-primary" ng-click="submit(link);cancel()"  >{{button}}</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
        </div>
    </script>

</div>