
.addLink{
    height: 31px;
    border-radius: 5px;
    margin-top: -10px;
    margin-right: 13px;
    background-color: #eeeeee;
    position: relative;

}
.addLink:hover{
    background-color: #dddddd;
}
.span{
    font-family:"STCaiyun";
    font-size: 80px;
    float : left;
    margin-left: 20px;
    color: #ffffff;
    margin-top: 50px;
    position: relative;


}
.linkList{
    width: 100%;
    height: 585px;
    overflow-y: auto;
    position: relative;

}


.imgList{

    float:left;
    width: 100px;
    height: 120px;
    margin-left: 15px;
    margin-top: 15px;
    background-color:#eee;
    border-radius: 5px;
    padding: 5px;
    border: 2px solid #bbb;
    cursor: pointer;
    /*border-style:groove;*/
    background-color: #e5f0f6;

}
.imgList:hover{
    border: 2px solid #07518E;
    background-color: #B8E2F6;
}
.imgList:hover span{
    opacity: 1;
}
.imgList:hover button{
    opacity: 1;
}
.imgList a{
    color: #3A27C3;
    font-size: 14px;
    font-weight: 500;

}
.imgList span{
    opacity: 0.005;
}
.imgList button{
    opacity: 0.005;
}
.name{
    width:100px;
    height: 20px;
    margin-top:7px;
    text-align: center;
    display: inline;
    float:left;
    cursor:pointer;
}
.Icon{
    height: 5px;
}
#delete{
    float: right;
}
.deleteBtn{
    margin-top: 0;
    margin-left: 65px;
    background-color: #ffffff;

}
.modal-content{
    margin-left:-240px;
    margin-top: 0;
    width:100%;
    left:50%;
    /*padding: 0 2px 0 15px;*/
    border:1px solid #222222;
    z-index: 1;
    position: absolute;
    background-color: #ffffff;

}
.IMG {
    z-index: 940;
    position: absolute;
    background-color: #ffffff;

}
.showImg {

    width: 85px;
    height: 100px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    background-color:#f0f8ff ;
    position:relative;
}
.title{
    width: 90px;
    height: 40px;
    position:absolute;
    text-align: center;
    margin-top: 80px;
    bottom:0;

}
.modal-body{
    padding-left:20px;
    padding-right: 20px;
}
.login-link-text{
    color: #ffffff;
    font-size: 12px;

}
.loginBtn{
  float:right;
  margin-right: 15px;
  margin-top: 10px;
}
.addSearch{
  margin-right: 15px;
    margin-left: 150px;
    margin-top: 39px;
    position: absolute;
    right: 0;
}
.addSearch .search{
    /*border-radius: 0;*/
    background-color: #ffffff;
}
.login-link-text:hover{
    color: #deb887;
}
.login-close-text{
    float: right;
}
.accounts-dialog{
    margin: 5px -12px 0 -220px;
}
.imglistshow{
    margin-left: 25px;
    margin-top: 20px;
}
.head{
    background-repeat: no-repeat;
    width: 100%;
    background-color: #0D6A98;
    height: 110px;
    position: relative;

}
.icon-position{
    position: absolute;
    right: 7px;
    bottom: 18px;
}
.divImg{
    margin-left: 15px;
    margin-top: 15px;
    -webkit-filter: invert(.8);
    filter: invert(.8)
}
.inputTitle,.inputUrl{
    width: 98%;
}
.update{
    width: 500px;
    margin-left: 30%;
    margin-top: 5%;
    left:50%;
    border: 1px solid rgb(0, 0, 0);
}
._img{
    cursor:hand;
}
.modal-header{
    background-color: #f5f5f5;
    height: 50px;
}
.modal-backdrop, .modal-backdrop.fade.in{
    opacity: 0.5;
}
.dialog-text{
    font-size: 26px;
    color: #4d4d4d;
    display: inline-block;
    margin: 15px 0 0 5px;
}
.close{
    font-size: 25px;
    line-height: 40px;
}